@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#cuerpo {
  background-image: url("../imagenes/fondoselector.jpg");
}
#area_productos{
  float: left;
  width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
.vermas{
  opacity: 100%;
  position:absolute;
  height: 300px;
  width: 300px;
}
.vermas h1{
  opacity: 0%;
}
.vermas:hover h1 {
  font-size: 40px;
  position:absolute;
  color: black;
  left: 95px;
  top: 95px;
  opacity: 50%;
}
.vermas:hover{
  position:absolute;
  opacity: 50%;
  float: left;
  background-color: white;
}
#pie{
  height: 300px;
  width: 1850px;
  background: #57763B;
  margin-bottom:0px;
  margin-top:25px;
  clear: both;
  margin-left: 25px;
}
#publicidad{
  float: left;
  width: 400px;
  height: 500px;
  margin-bottom:25px;
  margin-left: 85px;
  margin-right:25px;
}
#publicidad2{
  float: right;
  width: 515px;
  height: 500px;
}
p {
  font-family: 'Comfortaa';
  font-size: 31px;
}
h1 {
  font-family: 'Pacifico';
  font-size: 18px;
}
h2 {
  font-family: 'Pacifico';
  font-size: 48px;
}
#producto{
  margin-top: 125px;
  position: absolute;
  height: 1200px;
  width: 1150px;
  margin-left: 25px;
}
#descripcion_producto{
  margin-top: -50px;
  width: 600px;
  float: right;
}
#mapa{
  float: right;
}
#info{
  float:left;
}
.bloque{
  height: 1050px;
  width: auto;
}
#Galeria{
  margin-left: 25px;
  width: 1850px;
}
