/*aqui esta el menu comun*/
ul {
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #71D617;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 190px;
  text-decoration: none;
}
li a:hover {
  background-color: #57763B;
}
#menu{
  float: left;
  margin: 25px;
  width: 1850px;
}
